.home {
  background-color: palevioletred;
  background-size: cover;
  max-height: 100%;
}

.sword {
  width: 60%;
}

.header {
  background-color: palevioletred;

  margin-top: 7px;
  text-shadow: 1px 2px 1px plum;
}

.monsterhome {
  font-size: 35px;
  text-shadow: 1px 2px 1px black;
  font-family: fantasy;
}

.monsterhome:hover {
  opacity: 50%;
}

.monsterhome:visited {
  color: plum;
  text-shadow: 1px 2px 1px black;
}

.imghome {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 400px;
  width: 650px;
}

.h2home {
  text-shadow: 1px 1px 1px plum;
}

.h3home {
  text-shadow: 1px 1px 1px plum;
  text-decoration: underline;
}
